html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: yellow;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: cursive;
}

.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
}

.input {
  display: block;
  width: 100%;
  font-size: 30px;
  font-family: cursive;
  text-align: center;
  padding: 10px;
  border: solid 4px green;
  color: green;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input::placeholder {
  color: lightgray;
  font-family: cursive;
}

.btn {
  background-color: green;
  color: white;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn:active {
  transform: scale(0.95);
}

.score {
  color: green;
  text-align: right;
  margin-bottom: 20px;
}
